<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kutuphaneotomasyon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_library"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_library_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KutuphaneOtomasyon">
        <activity
            android:name=".ActivityUser2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ActivityEditStaff"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityEditBook"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBookInteraction"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityUserDetail"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityStaff"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ActivityUser"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBookDetail"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityWriterBooks"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityCategoryBooks"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySignIn"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityWriterSearch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityCategorySearch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBookSearch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>