<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kutuphaneotomasyon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_library"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_library_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KutuphaneOtomasyon">
        <activity
            android:name=".KullaniciActivity2"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PersonelDuzenleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KitapRafDuzenleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KitapAlisTeslimActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KullaniciDetayActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PersonelActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".KullaniciActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KitapDetayActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".YazarKitaplariActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KategoriKitaplariActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GirisActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".YazarAraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KategoriAraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KitapAraActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>